@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mona Sans";
  src: url("/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

h1 {
  font-size: 3rem;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.bg-1 {
  background-color: rgba(0, 0, 0, 0);
}

.bg-2 {
  background-color: rgba(0, 0, 0, 0.15);
}

.hamburger-react {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pers {
  perspective: 600px;
}

.clip-margin {
  overflow-clip-margin: content-box;
  overflow: clip;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}

html {
  font-family: "Mona Sans";
  -webkit-text-size-adjust: 100%;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  vertical-align: middle;
}

.text-thin-narrow {
  font-weight: 200;
  font-stretch: 75%;
}

.text-wide-black {
  font-weight: 900;
  font-stretch: 125%;
}

.text-thin-black {
  font-weight: 500;
  font-stretch: 75%;
}

.text-thin-dark {
  font-weight: 900;
  font-stretch: 75%;
}

.text-wide-dark {
  font-weight: 500;
  font-stretch: 100%;
}

.scroll-link-active {
  background-color: white;
  color: black !important;
}
